<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerLinks}}
</head>

<body>
  {{>navbar}}
  
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-6 col-24 main_header_left mx-auto align-items-center">
            <figure>
              <img src="../images/404.jpeg" alt="Error 404" class="img-fluid"/>
            </figure>
            <h1>Oops! <span> Error 404 </span>Page Not Found.</h1>
            <a href="/"><button>Go Back</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{{>footer}}
</html>