<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerLinks}}
</head>

<body>
  {{>navbar}}
  
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-6 col-12 main_header_left align-items-center">
        <figure>
            <img src="../images/logo.jpg" alt="About"/>
        </figure>>
      </div>
      <div class="col-md-6 col-12 main_header_left">
        <p> Hello!</p>
        <h1>This is a Website created by <span> Khushi Gupta </span>for checking weather at a location.</h1>
        <a href="https://www.linkedin.com/in/khushi-gupta-0a7392191"><button>Go to LinkedIn Profile</button></a>

      </div>
    </div>
  </div>
</body>
{{>footer}}
</html>